colors
frontend/node_modules
frontend/dist
frontend/target
frontend/Cargo.lock
frontend/music
frontend/images/wood77.jpg
frontend/images/wood80.jpg
frontend/images/chip03.jpg
frontend/images/chip06.jpg
backend/target
backend/Cargo.lock
out
music
target
Cargo.lock
about.hbs
*.swp
*.swo
